<nav class="navbar navbar-expand-lg navbar-light custom">
  <button class="navbar-toggler custom" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Bem Vindos', root_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'O casamento', o_casamento_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'Confirme sua presença', confirme_sua_presenca_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'Lista de presentes', lista_presentes_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'Nosso chá', nosso_cha_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'Nossa história', nossa_historia_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'Nossas memórias', nossas_memorias_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'O que vestir', o_que_vestir_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'Fornecedores', fornecedores_path, class: 'nav-item nav-link custom' %>
      <%= link_to 'Eu não peguei o buquê', nao_peguei_o_buque_path, class: 'nav-item nav-link custom' %>
    </div>
  </div>
</nav>