<!DOCTYPE html>
<html>
  <head>
    <title>GuriMila</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class="background">
      </div>
      
      <div class="header-border">
        <h1 class="title">Camila e Erick</h1>
        <h2 class="sub-title"> contagem regressiva </h2>
        <h3 class="sub-title"> 07 de Novembro de 2020</h3>
      </div>

      <%= render 'shared/navbar' %>
      <br>
      <div class="container body-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
